<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center-container">
        <div class="content-box bordered-container">
            <h2>Welcome, {{ user.username }}</h2>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            <h3>Your Uploaded Images</h3>
            <div class="uploads">
                {% for upload in uploads %}
                    <div class="image-container">
                        <h4>{{ upload.filename }}</h4>
                        <img src="data:image/png;base64,{{ upload.data | b64encode }}" alt="{{ upload.filename }}" class="thumbnail">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
